/* styles/contact.css */

.contact-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  background: #1f1f1f;
  border-radius: 1rem;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-label {
  font-weight: 500;
  margin-bottom: 0.25rem;
  display: block;
}

.contact-input,
.contact-textarea {
  padding: 0.75rem 1rem;
  border: 1px solid #333;
  border-radius: 0.75rem;
  background-color: #2e2e2e;
  font-size: 1rem;
  outline: none;
  width: 95%;
  resize: vertical;
  color: rgb(156, 255, 184);
}

.contact-input:focus,
.contact-textarea:focus {
  border-color: #00ff66;
  box-shadow: 0 0 0 2px #2563eb33;
}

.contact-button {
  background-color: #1d1d1d;
  border: 1px solid #00ff66;
  border-radius: 8px;
  transition: transform 0.2s ease;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  align-self: flex-start;
  color: inherit;
}

.contact-button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 8px #00ff66;
}

.contact-error {
  color: #f87171;
  font-size: 0.9rem;
}

.contact-success {
  color: #34d399;
  font-size: 0.9rem;
}
